@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap");
html {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}
html a {
  text-decoration: none;
  color: inherit;
}
html input {
  outline: none;
}

.item {
  font-size: 0.8125rem;
  font-weight: 600;
  color: #585858;
}
@media (max-width: 1200px) {
  .item {
    display: none;
  }
}
.item:not(:last-child):hover {
  text-decoration: underline;
}
.item--active {
  color: #261e1e;
}
@media (max-width: 1200px) {
  .item--active {
    display: block;
    text-align: center;
    font-size: 1.4375rem;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.hide {
  display: none;
}

.logo {
  height: 70px;
  line-height: 70px;
  text-align: center;
}
@media (max-width: 1200px) {
  .logo {
    flex-grow: 1;
  }
}
.logo__imagem {
  height: 25px;
  transform: translateY(10px);
}

.header__container {
  margin: auto;
  width: 95%;
  max-width: container 1200px;
}
.header__container--mobile:first-child {
  display: none;
  margin-bottom: 25px;
}
@media (max-width: 1200px) {
  .header__container--mobile:first-child {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .header__container--desktop:nth-child(2) {
    display: none;
  }
}

.drawer {
  width: 24px;
  opacity: 54%;
  display: none;
}
.drawer__title {
  text-transform: lowercase;
  font-size: 0.5625rem;
  font-weight: 400;
  line-height: 0;
}
.drawer-active {
  display: block;
}

.header {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 10px;
  width: 100%;
}

.search__imagem {
  color: rgba(0, 0, 0, 0.26);
  line-height: 40px;
  opacity: 26%;
  position: absolute;
  padding-left: 10px;
  top: 8px;
  width: 24px;
}

.search__input {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.23);
  height: 40px;
  padding-left: 40px;
  width: 100%;
}
.search__input:hover {
  border-color: #000;
}
.search__input::placeholder {
  color: #9b9b9b;
  font-family: "Open Sans";
  font-size: 0.9375rem;
  font-weight: 600;
}

.search {
  position: relative;
}

.menu__link {
  color: #000;
  font-size: 0.8125rem;
  font-weight: 600;
  padding-bottom: 5px;
  text-transform: uppercase;
  vertical-align: baseline;
}
.menu__link:hover {
  border-bottom: 2px solid #000;
}

.menu__lista {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
}

.breadcrumbs {
  margin-bottom: 16px;
}

.breadcrumbs__lista {
  display: flex;
}
@media (max-width: 1200px) {
  .breadcrumbs__lista {
    justify-content: center;
  }
}
.breadcrumbs__lista__separator {
  margin-left: 8px;
  margin-right: 8px;
  user-select: none;
}

.filters {
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
@media (max-width: 1200px) {
  .filters {
    display: none;
  }
}

.filters__lista {
  display: flex;
}
.filters__lista__item {
  display: flex;
  align-items: center;
  padding: 12px 14px;
}
.filters__lista__item:hover {
  cursor: pointer;
}
.filters__lista__label {
  text-transform: uppercase;
  font-size: 0.6875rem;
  font-weight: 400;
  color: #261e1e;
}
.filters__lista__icone {
  height: 20px;
  margin-left: 8px;
}

.produtos {
  margin-bottom: 20px;
  margin-top: 20px;
}
.produtos__row {
  margin: 8px;
}
.produtos__lista {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .produtos__lista {
    flex-wrap: wrap;
  }
}

@media (max-width: 1200px) {
  .produtos__cards {
    flex-basis: 50%;
  }
}

.produtos__card {
  border: 1px solid white;
  cursor: pointer;
  padding: 8px;
}
.produtos__card:hover {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.produtos__card__imagem {
  max-width: 100%;
  max-height: 100%;
}
.produtos__card__description {
  font-size: 0.6875rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  text-transform: uppercase;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 10px;
}
.produtos__card__preco {
  font-size: 0.8125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 1100px;
  padding: 16px;
  width: 80%;
}

.footer__container {
  margin: 0 auto;
  width: 90%;
}

.footer__contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__apps {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer__apps__mensagem {
  font-size: 0.9375rem;
  font-weight: 600;
  margin-right: 20px;
  text-transform: uppercase;
}

.footer__app {
  margin-left: 10px;
}
.footer__app__imagem {
  width: 110px;
}

.footer__links {
  background-color: #f6f6f6;
  display: flex;
  margin-top: 40px;
}
.footer__links__contacts {
  display: flex;
  width: 30%;
}
.footer__links__contact-icon {
  text-align: center;
}
.footer__links__contact-icon__img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer__links__contact-icon__text {
  font-size: 0.8125rem;
  padding: 8px;
  white-space: pre-line;
}
.footer__links__separator {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  width: 1px;
}

.footer__companies {
  display: flex;
  padding: 50px;
  width: 60%;
}

.company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.company-links .item {
  padding-top: 8px;
}
.company-links .item .title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.company-links .item .text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.company-links .item .text:hover {
  text-decoration: underline;
}

.footer__payment {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer__payment__alternatives {
  width: 50%;
}
.footer__payment__alternatives__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__payment__alternatives__image {
  margin: 2px;
  width: auto;
}

.social {
  flex-grow: 1;
}
.social__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.social__icons {
  display: flex;
}
.social__icons__icon {
  width: 50px;
}
.social__icons__icon__image {
  display: block;
  margin: auto;
}
.social__icons__icon__text {
  font-size: 0.6875rem;
  font-weight: 300;
  padding-top: 4px;
  text-align: center;
}

.accessibility {
  flex-grow: 1;
}
.accessibility__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.accessibility__image {
  width: 30px;
}

.bottom {
  background-color: #f6f6f6;
  padding: 20px 0 0 20px;
}
.bottom__container {
  display: flex;
}
.bottom__copyright {
  width: 83.333333%;
}
.bottom__text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.bottom__stamp {
  margin: 0 auto;
  width: 47px;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer__col {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}
.footer__info {
  font-size: 0.8125rem;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.footer__input {
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  color: #000;
  font-size: 0.9375rem;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  outline: none;
  width: 300px;
}
.footer__input:hover {
  border-bottom: 2px solid #261E1E;
}
.footer__input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.footer__input::placeholder {
  font-style: italic;
  font-weight: 600;
  opacity: 42%;
}
.footer__btn {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
}
.footer__btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
