@import "logo", "container", "drawer";

.header {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    width: 100%;
    
    // .floating {
    //   @include for-phone-only {
    //     position: fixed;
    //     top: 0;
    //     background-color: #fff;
    //   }
    // }
  }
