.footer__container {
  margin: 0 auto;
  width: 90%;
}

.footer__contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.footer__apps {
  align-items: center;
  display: flex;
  justify-content: center;
}
.footer__apps__mensagem {
  font-size: 0.9375rem;
  font-weight: 600;
  margin-right: 20px;
  text-transform: uppercase;
}

.footer__app {
  margin-left: 10px;
}
.footer__app__imagem {
  width: 110px;
}

.footer__links {
  background-color: #f6f6f6;
  display: flex;
  margin-top: 40px;
}
.footer__links__contacts {
  display: flex;
  width: 30%;
}
.footer__links__contact-icon {
  text-align: center;
}
.footer__links__contact-icon__img {
  display: block;
  margin: auto;
  width: 25px;
}
.footer__links__contact-icon__text {
  font-size: 0.8125rem;
  padding: 8px;
  white-space: pre-line;
}
.footer__links__separator {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  width: 1px;
}

.footer__companies {
  display: flex;
  padding: 50px;
  width: 60%;
}

.company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.company-links .item {
  padding-top: 8px;
}
.company-links .item .title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.company-links .item .text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.company-links .item .text:hover {
  text-decoration: underline;
}

.footer__payment {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}
.footer__payment__alternatives {
  width: 50%;
}
.footer__payment__alternatives__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__payment__alternatives__image {
  margin: 2px;
  width: auto;
}

.social {
  flex-grow: 1;
}
.social__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.social__icons {
  display: flex;
}
.social__icons__icon {
  width: 50px;
}
.social__icons__icon__image {
  display: block;
  margin: auto;
}
.social__icons__icon__text {
  font-size: 0.6875rem;
  font-weight: 300;
  padding-top: 4px;
  text-align: center;
}

.accessibility {
  flex-grow: 1;
}
.accessibility__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.accessibility__image {
  width: 30px;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer .bottom {
  background-color: #f6f6f6;
  padding: 20px 0;
}
.footer .bottom .container {
  display: flex;
}
.footer .bottom .copyright {
  width: 83.333333%;
}
.footer .bottom .copyright .text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.footer .bottom .stamp {
  margin: 0 auto;
  width: 47px;
}
.footer__col {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}
.footer__info {
  font-size: 0.8125rem;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.footer__input {
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  color: #000;
  font-size: 0.9375rem;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  outline: none;
  width: 300px;
}
.footer__input:hover {
  border-bottom: 2px solid #261E1E;
}
.footer__input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.footer__input::placeholder {
  font-style: italic;
  font-weight: 600;
  opacity: 42%;
}
.footer__btn {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
}
.footer__btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=footer.css.map */
