.footer__container {
  margin: 0 auto;
  width: 90%;
}

.contact {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.contact__info {
  font-size: 0.8125rem;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
}
.contact__input {
  border: 0px;
  border-bottom: 1px solid rgba(38, 30, 30, 0.42);
  color: #000;
  font-size: 0.9375rem;
  font-weight: 600;
  height: 24px;
  line-height: 24px;
  outline: none;
  width: 300px;
}
.contact__input:hover {
  border-bottom: 2px solid #261E1E;
}
.contact__input:focus-within {
  border-bottom: 2px solid #261E1E;
}
.contact__input::placeholder {
  font-style: italic;
  font-weight: 600;
  opacity: 42%;
}
.contact__btn {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  box-shadow: none;
  color: rgba(0, 0, 0, 0.26);
  margin-left: 20px;
  padding: 10px 20px 10px 20px;
}
.contact__btn .txt {
  font-size: 0.8125rem;
  text-transform: uppercase;
}

.apps {
  align-items: center;
  display: flex;
  justify-content: center;
}
.apps__mensagem {
  font-size: 0.9375rem;
  font-weight: 600;
  margin-right: 20px;
  text-transform: uppercase;
}

.app {
  margin-left: 10px;
}
.app__imagem {
  width: 110px;
}

.links {
  background-color: #f6f6f6;
  display: flex;
  margin-top: 40px;
}
.links__contacts {
  display: flex;
  width: 30%;
}
.links__contact-icon {
  text-align: center;
}
.links__contact-icon--img {
  display: block;
  margin: auto;
  width: 25px;
}
.links__contact-icon--text {
  font-size: 0.8125rem;
  padding: 8px;
  white-space: pre-line;
}
.links__separator {
  background-color: rgba(0, 0, 0, 0.12);
  border: none;
  width: 1px;
}

.companies {
  display: flex;
  padding: 50px;
  width: 60%;
}

.company-links {
  flex-grow: 1;
  margin-left: 8px;
  margin-right: 8px;
}
.company-links__title {
  text-transform: uppercase;
  font-size: 0.875rem;
}
.company-links__item {
  padding-top: 8px;
}
.company-links__text {
  line-height: 25px;
  font-size: 0.6875rem;
  font-weight: 400;
  color: black;
}
.company-links__text:hover {
  text-decoration: underline;
}

.payment {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
}
.payment__image {
  margin: 2px;
  width: auto;
}
.payment__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.payment__alternatives {
  width: 50%;
}

.social {
  flex-grow: 1;
}
.social__title {
  margin-bottom: 10px;
  text-transform: uppercase;
}

.accessibility {
  flex-grow: 1;
}
.accessibility__title {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.accessibility__image {
  width: 30px;
}

.bottom {
  background-color: #f6f6f6;
  padding: 20px 0 0 20px;
}
.bottom__container {
  display: flex;
}
.bottom__copyright {
  width: 83.333333%;
}
.bottom__text {
  font-size: 0.5625rem;
  font-weight: 400;
  color: #261E1E;
}
.bottom__stamp {
  margin: 0 auto;
  width: 47px;
}

.icons {
  display: flex;
}
.icons__image {
  display: block;
  margin: auto;
}
.icons__icon {
  width: 50px;
}
.icons__icon--text {
  font-size: 0.6875rem;
  font-weight: 300;
  padding-top: 4px;
  text-align: center;
}

.footer {
  border-top: 2px solid lightgray;
  padding-top: 40px;
  width: 100%;
}
.footer__col {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
}

/*# sourceMappingURL=footer.css.map */
