.icons {
    display: flex;
      

    &__image {
        display: block;
        margin: auto;
    }

    &__icon {
      width: 50px;
            
      &--text {
        font-size: 0.6875rem;
        font-weight: 300;
        padding-top: 4px;
        text-align: center;
      }
    } 
}