.payment {
  display: flex;
  margin-bottom: 25px;
  margin-top: 25px;
   
  &__image {
    margin: 2px;
    width: auto;
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__alternatives {
    width: 50%; 
  }
} 
