.social {
    flex-grow: 1;
      
    &__title {
        margin-bottom: 10px;
        text-transform: uppercase;
    }
      
}

.social__icons {
    display: flex;
  
    &__icon {
      width: 50px;
  
      &__image {
        display: block;
        margin: auto;
      }
  
      &__text {
        font-size: 0.6875rem;
        font-weight: 300;
        padding-top: 4px;
        text-align: center;
      }
    } 
}
