@import 
  'container', 
  'contact', 
  'apps', 'links', 
  'company', 
  'payment', 
  'social', 
  'accessibility', 
  'bottom',
  'icons'
;

.footer {

    border-top: 2px solid lightgray;
  
    padding-top: 40px;
    width: 100%;

    &__col {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: space-around;
    }

} 
  