.produtos {
    margin-bottom: 20px;
    margin-top: 20px;
    
    &__row {
      margin: 8px;
    }
    
    &__lista {
      display: flex;
      justify-content: space-between;
    
      @include for-phone-only {
        flex-wrap: wrap;
      }
    
    }
}
