@mixin for-phone-only {
  @media (max-width: 1200px) {
    @content;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;1,400;1,600&display=swap');
html {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;

  a {
    text-decoration: none;
    color: inherit;
  }

  input {
    outline: none;
  }
}

.item {
    font-size: 0.8125rem;
    font-weight: 600;
    color: #585858;
  
    @include for-phone-only {
      display: none;
    }
    
    &:not(:last-child):hover {
      text-decoration: underline;
    }
  
    &--active {
      color: #261e1e;
      @include for-phone-only {
        display: block;
        text-align: center;
        font-size: 1.4375rem;
        font-weight: 400;
        text-transform: uppercase;
  
      }
    }
}

.hide {
  display: none;
}
